<ul>
  <li>
    <a class=bar href=/>who am i</a>
    <section>
    </section>
  <li class=recent_work>
    <a href=/recent_work class=bar>recent work</a>
    <section>
    </section>
  <li class=skills><a href=/skills class=bar>my skills</a>
    <section>
    </section>
  <li class=contact><a href=/contact class=bar>contact me</a>
    <section>
      <h3><span>p: </span>503-609-0423</h3>
      <h3><span>e: </span>donaldpcook@gmail.com</h3>
      <a href=http://www.github.com/donaldpcook><img src=/images/logo_github.png /></a>
      <a href=http://www.linkedin.com/pub/donald-cook/38/852/320><img src=/images/logo_linkedin.png /></a>
      <a href=http://twitter.com/_donaldcook><img src=/images/logo_twitter.png /></a>

    </section>
</ul>

