<ul>
  <li>
    <a class="selected bar" href=#>who am i</a>
    <section>
      <p>Hi. I'm Donald Cook. I develop websites. I specialize in HTML5 and modern client-side JavaScript, but also work with server-side languages, including Ruby and server-side JavaScript.</p>
    </section>
  <li class=recent_work>
    <a href=/recent_work class=bar>recent work</a>
    <section>
    </section>
  <li><a href=/skills class=bar>my skills</a>
  <li><a href=/contact class=bar>contact me</a>
</ul>

