<ul>
  <li>
    <a class=bar href=/>who am i</a>
    <section>
    </section>
  <li class=recent_work>
    <a href=# class="selected bar">recent work</a>
    <section>
      <%- display %>
    </section>
  <li class=skills><a href=/skills class=bar>my skills</a>
  <li class=contact><a href=/contact class=bar>contact me</a>
</ul>


