<ul>
  <li>
    <a class=bar href=/>who am i</a>
    <section>
    </section>
  <li class=recent_work>
    <a href=# class="selected bar">recent work</a>
    <section>
      <%- display %>
      <!-- <div>-->
      <!--   <a href=#>< Levi's Curve ID</a>-->
      <!--   <a href=#>Life with BIC ></a>-->
      <!-- </div>-->

      <!-- <h1>Living Yoga Aurora</h1>-->
      <!-- <a href=http://www.livingyogaaurora.com>livingyogaaurora.com</a>-->
      <!-- <img src=/images/preview_project_14.png />-->

      <!-- <div class=about>-->
      <!--   <h2>About this project</h2>-->
      <!--   <p>Full website built for Living Yoga Studio</p>-->
      <!-- </div>-->

      <!-- <div class=role>-->
      <!--   <h2>My role</h2>-->
      <!--   <p>Created design, front end and back ends. Created custom CMS in Rails, including an admin so user can edit classes, events and all content in the website.</p>-->
      <!-- </div>-->

      <!-- <div class=tech>-->
      <!--   <h2>Technologies used</h2>-->
      <!--   <ul>-->
      <!--     <li>JavaScript</li>-->
      <!--     <li>HTML</li>-->
      <!--     <li>CSS</li>-->
      <!--     <li>jQuery</li>-->
      <!--     <li>AJAX</li>-->
      <!--     <li>Picassa API</li>-->
      <!--     <li>i18n</li>-->
      <!--     <li>Facebook JS SDK</li>-->
      <!--     <li>Ruby</li>-->
      <!--     <li>Rails</li>-->
      <!--   </ul>-->
      <!-- </div>-->
    </section>
  <li><a href=/skills class=bar>my skills</a>
  <li><a href=/contact class=bar>contact me</a>
</ul>


