<ul>
  <li>
    <a class=bar href=/>who am i</a>
    <section>
    </section>
  <li class=recent_work>
    <a href=/recent_work class=bar>recent work</a>
    <section>
    </section>
  <li class=skills><a href=/skills class="selected bar">my skills</a>
    <section>
      <p>I am a quick learner and have been able to pick up skills in a number of different languages throughout the years. I do consider myself more experienced with front-end work, however I am definitely willing to jump in and do back-end work whenever needed. Some of the technologies I am comfortable with, from most experienced to least:</p>
      <ul>
        <li>JavaScript
        <li>JavaScript libraries and frameworks (jQuery, backbone.js, require.js, and others)
        <li>Client-side markup (HTML5, CSS3)
        <li>CSS Pre-processors (LESS.CSS)
        <li>Responsive design techniques
        <li>Ruby
        <li>Node.js
        <li>PHP
        <li>ASP.NET (primarily C#)
        <li>Coldfusion
        <li>Objective C
        <li>C++
      </ul>

      <p>I am also experienced with APIs, both in creating them and using them. Some of the APIs that I have leveraged include:</p>
      <ul>
        <li>Facebook
        <li>Twitter
        <li>Google APIs
        <li>Flickr
      </ul>
    </section>
  <li class=contact><a href=/contact class=bar>contact me</a>
</ul>
