@dark: #231F20;
@light: #fff;
@nav_color: #3D4E53;
@main_text: #A0A5AF;
@section_margin: -105px;

.damion(@fs: 12px) {
  font: @fs 'Damion', cursive;
}

.openSansThin(@fs: 12px, @weight: 300) {
  font: @fs 'Open Sans', sans-serif;
  font-weight: @weight;
}

.helv(@fs: 12px) {
  font: @fs 'helvetica neue', helvetica, arial;
}

// css3
.boxRound(@br: 5px) {
  -webkit-border-radius: @br;
     -moz-border-radius: @br;
          border-radius: @br;

  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.boxShadow(@x: 0, @y: 0, @blur: 1px, @alpha) {
  @val: @x @y @blur rgba(0, 0, 0, @alpha);

  box-shadow:         @val;
  -webkit-box-shadow: @val;
  -moz-box-shadow:    @val;
}

html {
  background: @dark;
}

h1 {
  color: @light;
  margin: 0;
}

h2 {
  .openSansThin(24px);
  color: @light;
  margin: 10px 0 5px;
}

h3 {
  .openSansThin(24px);
  color: @light;
  margin: 5px 0 0 20px;

  span {
    color: @main_text;
  }
}

p {
  .helv(24px);
  color: @main_text;
  font-weight: 200;
  line-height: 38px;
  margin: 20px 20px;
}

li {
  .helv(24px);
  color: @main_text;
  font-size: 20px;
  font-weight: 200;
  margin: 0;
}

header {
  margin: 0 auto;
  overflow: hidden;
  width: 95%;

  h1 {
    .damion(36px);
    float: left;
    text-align: right;
    width: 9%;
  }
  span {
    border-bottom: @light solid 3px;
    display: block;
    height: 40px;
    float: left;
    text-align: right;
    width: 90%;
  }
}

#main {
  margin: 0 auto;
  padding-bottom: 10px;
  width: 95%;
}

nav {
  float: left;
  position: relative;
  width: 100%;

  .bar {
    .openSansThin(32px);
    .boxRound();
    background: darken(@dark, 10%);
    color: @nav_color;
    display: block;
    margin: 10px 0;
    padding: 25px 10px 25px 0;
    text-align: right;
    text-decoration: none;
    width: 40%;

    &.selected, &:hover {
      background: lighten(@dark, 15%);
      color: darken(@nav_color, 40%);
    }
  }

}

#container {
  max-width: 1200px;
  width: 100%;
}

section {
  .boxRound(5px);
  background: lighten(@dark, 2%);
  float: right;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 10px;
  width: 59%;

  h1 {
    .openSansThin(28px, 400);
    float: left;
    margin: 0 0 5px;
    padding: 0;
  }

  a, a:visited {
    .openSansThin(24px, 400);
    color: @light;
    float: right;
    margin: 0 5px 0 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    .boxShadow(3px, 3px, 3px, 0.4);
    height: auto;
    width: 100%;
  }
}

.recent_work section {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2% 0;
  width: 55%;

  div {
    width: 100%;

    a {
      .boxRound(3px);
      background: #fff;
      color: @dark;
      float: right;
      font-size: 14px;
      margin-bottom: 5px;
      padding: 0 5px;
      text-align: right;
      width: 39%;

      &:first-child {
        float: left;
        text-align: left;
      }

      &:hover {
        background: lighten(@dark, 15%);
        color: #fff;
        text-decoration: none;
      }
    }
  }

  p {
    .helv(24px);
    color: @main_text;
    font-size: 20px;
    font-weight: 200;
    margin: 0;
  }
}

.skills section {
  li {
    color: @light;
    padding: 0 0 5px 20px;
  }
}

.contact section {
  a {
    float: none;
  }

  img {
    .boxShadow(0, 0, 0, 0);
    display: inline;
    margin-top: 20px;
    width: 15%;
  }
}

@media only screen
and (min-width : 320px)
and (max-width : 650px) {
  nav {
    float: none;
    width: 100%;

    .bar {
      padding: 25px 0;
      margin: 8px auto;
      text-align: center;
      width: 100%;
      z-index: 1;
    }
  }

  section {
    .boxRound(0);
    margin: -10px 0 20px;
    position: static;
    width: 100%;
    z-index: 0;
  }

  .recent_work section {
    padding: 0;
    width: 100%;
  }
}

