$medium: 500px;
$large: 800px;

$primary-color: rgba(51, 3, 0, .7);
$secondary-color: rgba(51, 3, 0, .8);

body {
  background: linear-gradient(to bottom, #fff, rgba(51, 3, 0, .05));
  color: $primary-color;
}

h1 {
  font-size: 36px;
  font-family: futura-pt, serif;
  font-weight: normal;
  text-align: center;

  &:after {
    width: 3px;
    height: 3px;
    display: block;
    margin: 10px auto 0;
    content: '';
    border: 3px solid $primary-color;
    border-radius: 50%;
  }
}

h2 {
  color: #333;
  margin-top: 0;
  font-size: 44px;
  line-height: 30px;
  font-family: futura-pt, serif;
  text-align: center;
}

h3 {
  color: rgba(51, 3, 0, .8);
  margin-bottom: 0;
  padding-bottom: 5px;
  font-size: 20px;
  line-height: 22px;
  font-family: futura-pt, serif;
  font-weight: 300;

  @include media($medium) {
    margin-top: 0;
  }
}

h4 {
  margin: 5 0;
  font-size: 14px;
  font-family: futura-pt, serif;
}

p {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 14px;
  font-family: azo-sans-web, sans-serif;
}

.btn {
  @include button;
}

.app-container {
  @include pad(0 default 0 default);
}

.row {
  @include outer-container;
  @include pad(0 default 0 default);
}

.content-row {
  @include media(min-width $medium max-width $large) {
    @include outer-container;
    @include pad(0 0 0 0);
  }
}

.md-6 {
  @include media(min-width $medium max-width $large) {
    @include span-columns(6);
  }
}



.content-social > a {
  text-decoration: none;
  color: $primary-color;
  font-size: 48px;

  @include media($medium) {
    font-size: 24px;
  }
}
