body {
  background: #F6FFE0;
}

h1 {
  font-size: 36px;
  font-family: adelle, serif;
  font-weight: normal;
}

h2 {
  font-size: 44px;
  font-family: adelle, serif;
}

h3 {
  font-size: 18px;
  font-family: adelle, serif;
}

h4 {
  font-size: 14px;
  font-family: adelle, serif;
}

p {
  font-size: 14px;
  font-family: azo sans, sans-serif;
}

