$medium: 500px;

$primary-color: #0F222B;
$secondary-color: #94A963;

body {
  background: #F6FFE0;
  color: $primary-color;
}

h1 {
  font-size: 36px;
  font-family: adelle, serif;
  font-weight: normal;
}

h2 {
  color: #94A963;
  font-size: 44px;
  font-family: adelle, serif;
}

h3 {
  font-size: 18px;
  font-family: adelle, serif;
}

h4 {
  font-size: 14px;
  font-family: adelle, serif;
}

p {
  font-size: 14px;
  font-family: azo-sans-web, sans-serif;
}

.btn {
  @include button;
}
