.samples {
  position: relative;
  overflow: hidden;
  margin-top: 25px;
}

.samples-container {
  position: relative;
}

.samples-thumbs {
  @include outer-container;
}

.samples-thumbnail {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;

  @include media($medium) {
    @include span-columns(6);
    @include omega();

    &:nth-child(even) {
      float: right;
    }
  }
}

.samples-full {
  position: absolute;
  top: 0;
  width: 100%;
  background: #fff;

  animation: slideOutLeft 0.8s 0.3s forwards;
}

.samples-full-container {
  display: none;

  > img {
    max-width: 100%;
  }

  &.is-shown {
    display: block;
  }
}

.samples-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: azo-sans-web, sans-serif;
  font-size: 19px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
  text-align: left;
  outline: none;
  cursor: pointer;

  &:after {
    content: '+';
    position: absolute;
    right: 10px;
  }
}

.samples-full-title {
  @include span-columns(2);
}

.samples-full-description {
  @include span-columns(10);
}

.samples-full-info {
  > .samples-button {
    position: static;

    &:after {
      content: '-';
    }
  }
}

.animateIn {
  transform: translateX(100%);
  animation: slideInLeft 0.8s 0.3s forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(100%) rotateY(45deg) translateZ(-300px);
  }
  to {
    transform: translateX(0) rotateY(0deg) translateZ(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
  }
}
