.samples-thumbs {
  @include outer-container;
}

.samples-column {
  @include span-columns(4);
}

.samples-full {
  -webkit-transform: translateX(100%);
  position: absolute;
  top: 0;
  width: 100%;
  background: #fff;
}

.animateIn {
  -webkit-animation: slideInRight 0.5s 0.1s forwards;
  animation: slideInRight 0.5s 0.1s forwards;
}

@-webkit-keyframes slideInRight {
	from {
		-webkit-transform: translateX(40%) rotateY(45deg) translateZ(-300px);
	}
	to {
		-webkit-transform: translateX(0) rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@keyframes slideInRight {
	from {
		-webkit-transform: translateX(-40%) rotateY(45deg) translateZ(-300px);
		transform: translateX(-40%) rotateY(45deg) translateZ(-300px);
	}
	to {
		-webkit-transform: translateX(0) rotateY(0deg) translateZ(0);
		transform: translateX(0) rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}
