.samples {
  position: relative;
  overflow: hidden;
}

.samples-thumbs {
  @include outer-container;
}

.samples-column {
  @include span-columns(4);
}

.samples-thumbnail {
  margin-bottom: 100px;
}

.samples-full {
  position: absolute;
  top: 0;
  width: 100%;
  background: #fff;

  animation: slideOutLeft 0.8s 0.3s forwards;
}

.samples-full-container {
  display: none;

  > img {
    max-width: 100%;
  }

  &.is-shown {
    display: block;
  }
}

.animateIn {
  transform: translateX(100%);
  animation: slideInLeft 0.8s 0.3s forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(100%) rotateY(45deg) translateZ(-300px);
  }
  to {
    transform: translateX(0) rotateY(0deg) translateZ(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
  }
}
